<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ir.smgroup.imagerotator"
        version   = "0.96">
		
		
    <name>Image Rotator</name>
    <description>مزون لباس</description>
    <author href="http://smgroup.ir" email="info@smgroup.ir">Sorush Mehr Rezvan</author>
    <!--
		ir.smgroup.saveimage
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires. 
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
	<preference name='phonegap-version'			  value='cli-6.5.0' />
    <preference name="orientation"                value="landscape" />        <!-- portrait all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="SplashScreenDelay"		  value="4000"/>
	<preference name="FadeSplashScreen"			  value="false" />
	<preference name="ShowSplashScreenSpinner"	  value="false"/>


	<!-- ???????????????????????????????????????????????????????????????????????????????????? -->
	<!-- ???????????????????????????????????????????????????????????????????????????????????? -->
	<!-- ???????????????????????????????????????????????????????????????????????????????????? -->
	<preference name="DisallowOverscroll" value="true"/>
	
	
    <!-- Plugins -->

    <!-- Core plugins -->
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <!--<gap:plugin name="org.apache.cordova.battery-status" source="npm" />-->
    <!--<gap:plugin name="org.apache.cordova.media-capture" source="npm" />-->
    <gap:plugin name="org.apache.cordova.console" source="npm" />
    <gap:plugin name="org.apache.cordova.device" source="npm" />
    <!-- <gap:plugin name="org.apache.cordova.device-motion" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.device-orientation" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.dialogs" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.file" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.file-transfer" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.geolocation" source="npm" /> -->
    <!--<gap:plugin name="org.apache.cordova.globalization" source="npm" />-->
    <!-- <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" /> -->
	<!-- <gap:plugin name="org.apache.cordova.media" source="npm" /> -->
    <!-- <gap:plugin name="org.apache.cordova.network-information" source="npm" /> -->
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <!-- <gap:plugin name="org.apache.cordova.vibration" source="npm" /> -->

	<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
	</gap:config-file>

	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIBackgroundModes" overwrite="true">
		<array>
			<string>audio</string>
		</array>
	</gap:config-file>
	
	<access origin="*"/> <!-- allow local pages -->
	
    <!-- Define app icon      -->
    <icon src="images/splash/icon.png" platform="android" />
    <icon src="images/splash/ios.png" platform="ios" />
	
	<icon src="images/splash/icon-57.png" width="57" height="57" gap:platform="ios" />
	<icon src="images/splash/icon-57@2x.png" width="114" height="114" gap:platform="ios" />
	<icon src="images/splash/icon-72.png" width="72" height="72" gap:platform="ios" />
	<icon src="images/splash/icon-72@2x.png" width="152" height="152" gap:platform="ios" /> 
	<!-- iPhone 6 / 6+ -->
	<icon src="images/splash/icon-60@3x.png" platform="ios" width="180" height="180" />
	<!-- iPhone / iPod Touch  -->
	<icon src="images/splash/icon-60.png" platform="ios" width="60" height="60" />
	<icon src="images/splash/icon-60@2x.png" platform="ios" width="120" height="120" />
	<!-- iPad -->
	<icon src="images/splash/icon-76.png" platform="ios" width="76" height="76" />
	<icon src="images/splash/icon-76@2x.png" platform="ios" width="152" height="152" />
	<!-- Settings Icon -->
	<icon src="images/splash/icon-small.png" platform="ios" width="29" height="29" />
	<icon src="images/splash/icon-small@2x.png" platform="ios" width="58" height="58" />
	<!-- Spotlight Icon -->
	<icon src="images/splash/icon-40.png" platform="ios" width="40" height="40" />
	<icon src="images/splash/icon-40@2x.png" platform="ios" width="80" height="80" />

	
	<splash src="images/splash/splash.png" />

	<splash gap:platform="ios" height="480" width="320" src="images/splash/ios/screen-iphone-portrait.png" />
	<splash gap:platform="ios" height="960" width="640" src="images/splash/ios/screen-iphone-portrait-2x.png" />
	<splash gap:platform="ios" height="1024" width="768" src="images/splash/ios/screen-ipad-portrait.png" />
	<splash gap:platform="ios" height="2048" width="1536" src="images/splash/ios/screen-ipad-portrait-2x.png" />
	<splash gap:platform="ios" height="768" width="1024" src="images/splash/ios/screen-ipad-landscape.png" />
	<splash gap:platform="ios" height="1536" width="2048" src="images/splash/ios/screen-ipad-landscape-2x.png" />
	<splash gap:platform="ios" height="1136" width="640" src="images/splash/ios/screen-iphone-568h-2x.png" />
	<splash gap:platform="ios" height="1334" width="750" src="images/splash/ios/screen-iphone-portrait-667h.png" />
	<splash gap:platform="ios" height="2208" width="1242" src="images/splash/ios/screen-iphone-portrait-736h.png" />
	<splash gap:platform="ios" height="1242" width="2208" src="images/splash/ios/screen-iphone-landscape-736h.png" />

	<splash gap:platform="android" gap:qualifier="land-hdpi" src="images/splash/android/screen-hdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-ldpi" src="images/splash/android/screen-ldpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-mdpi" src="images/splash/android/screen-mdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-xhdpi" src="images/splash/android/screen-xhdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="port-hdpi" src="images/splash/android/screen-hdpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-ldpi" src="images/splash/android/screen-ldpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-mdpi" src="images/splash/android/screen-mdpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-xhdpi" src="images/splash/android/screen-xhdpi-portrait.png" />
	
</widget>
